<h1>Routing example</h1>
<ul class="nav nav-tabs">
  <li role="presentation"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/profile">Profile</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/about">About</a>
  </li>
</ul>
<router-outlet></router-outlet>

<!--
Exemple sans router
<ul class="nav nav-tabs">
  <li role="presentation" [class.active]="navigation=='home'" (click)="navigation='home'"><a href="#">Home</a></li>
  <li role="presentation" [class.active]="navigation=='profile'" (click)="navigation='profile'"><a href="#">Profile</a></li>
  <li role="presentation" [class.active]="navigation=='about'" (click)="navigation='about'"><a href="#">About</a></li>
</ul>
<app-home *ngIf="navigation=='home'"></app-home>
<app-profile *ngIf="navigation=='profile'"></app-profile>
<app-about *ngIf="navigation=='about'"></app-about>
 -->
